textarea{
  display:inline-block;
  vertical-align: middle;
  border:2px solid;
  border-radius:5px;
}
.drop{
  width:350px;
}
.multidrop{

}
.singledrop{

}
.insidemulti{

}
.number{

}
.code{

}
.essay{

}
.qHTML{

}
.multiquestion{

}
.question{

}
.stop{
  
}
.run{
  
}
.compile{
  
}
.button{

}
.inlineParent>div{
  display:inline-block;
  width:auto;
}
img{
  display:inline-block;
  vertical-align: middle;
}